!!! 5

%html.no-js{:lang => "zh-TW"}

    %head

        %meta{:charset => "utf-8"}
        %title Studio F // 蒼時弦也
        %meta{:name => "description", :content => ""}
        %meta{:name => "viewport",  :content => "width=device-width, initial-scale=1"}

        %meta{:name => "keyword", :content => "蒼時弦也, 蒼時弦や, 網頁設計師, 前端工程師"}
        %meta{:name => "author", :content => "蒼時弦也"}
        %meta{:name => "description", :content => "喜愛網站相關技術，有著一半前端血統和一半的設計師血統。"}
        %meta{:name => "copyright", :content => "蒼時弦也. Copyright 2014"}

        %meta{:property => "og:title", :content => "Studio F // 蒼時弦也"}
        %meta{:property => "og:type", :content => "website"}
        %meta{:property => "og:url", :content => "http://frost.tw/"}
        %meta{:property => "og:image", :content => "http://frost.tw/icon-256.png"}
        %meta{:property => "og:site_name", :content => "Studio F // 蒼時弦也"}
        %meta{:property => "og:description", :content => "喜愛網站相關技術，有著一半前端血統和一半的設計師血統。"}
        %meta{:name => "alexaVerifyID", :content => "oaD1deg4DcGw3hhsxkc0ZZnJfaQ"}

        = stylesheet_link_tag "main"
        = javascript_include_tag "/bower_components/modernizr/modernizr"

    %body
        / [if lt IE 7]
            %p.browsehappy You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.

        = content_for?(:page_content) ? yield(:page_content) : yield

        = render "partials/analytics.html.erb" if enable_analytics?
        = render "partials/justfont.html.erb"
        = render "partials/scripts"

        = livereload_js unless ENV["RACK_ENV"] == "production"
