<section id="portfolio" class="page">
  <header>
    <h1 class="uppercase text-normal">Portfolio</h1>
  </header>
  <nav class="filter">
    <ul>
      <li><a href="#" data-type="web-design" class="label round active">Web Design</a></li>
      <li><a href="#" data-type="illustration" class="label round active">Illustration</a></li>
      <li><a href="#" data-type="photo" class="label round active">Photo</a></li>
      <li><a href="#" data-type="graphic" class="label round active">Graphic</a></li>
      <li><a href="#" data-type="code" class="label round active">Code</a></li>
    </ul>
  </nav>
  <div class="works clearfix">
  <%
    works = [
      {:name => "On Class", :file => "on_class.jpg", :tag => "photo"},
      {:name => "The Way to Home", :file => "the_way_to_home.jpg", :tag => "photo"},
      {:name => "At School", :file => "at_school.jpg", :tag => "photo"},
      {:name => "Frost V1", :file => "frost_v1.jpg", :tag => "web-design"},
      {:name => "The 3 Day Forum", :file => "php_project.jpg", :link => "https://github.com/elct9620/3Day-Forum", :code => "true", :tag => "code"}
    ]

    works.each do |work|
  %>
    <article class="tag-<%= work[:tag] %>">
      <header>
        <h2><%= work[:name] %></h2>
      </header>
      <div class="thumb">
        <a href="<%= (work[:code]) ? work[:link] : "images/portfolio/#{work[:file]}" %>" title="<%= work[:name] %>"<%= (work[:code]) ? ' target="_blank"' : 'class="fancybox"' %>><img src="images/portfolio/small/<%= work[:file] %>" alt="<%= work[:name] %>" /></a>
      </div>
    </article>
  <%
    end
  %>
  </div>
</section>
